nav {
    height: 100px;
    display: block;
    background-image: linear-gradient(rgb(7, 38, 65), rgb(0, 28, 53));
    color: rgb(255, 255, 255);
    align-items: center;
}

.logo img {
    height: 50px;
    width: 50px;
    float: right;
}